<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
  		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</head>
	<body>
    	<div th:fragment="footer">&copy; Accenture training 2017
    		<script type="text/javascript" th:inline="javascript"
					src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"
					th:src="@{/webjars/jquery/2.2.4/dist/jquery.min.js}"></script>
				<script type="text/javascript" th:inline="javascript"
					src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"
					th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
				<script type="text/javascript" th:inline="javascript"
					src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
					th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js	}"></script>
	
				<script type="text/javascript" th:inline="javascript"
					src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"
					th:src="@{/webjars/moment/2.14.1/min/moment.min.js}"></script>
	
				<script type="text/javascript" th:inline="javascript"
					src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
					th:src="@{/webjars/toastr/2.1.2/build/toastr.min.js}"></script>
    	</div>
  	</body>
</html>